[user]
	name = Rob Eastwood
	mail = rob.eastwood8@gmail.com
	email = rob.eastwood8@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	editor = /usr/bin/vim
	hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
[color]
	ui = auto
[merge]
	tool = meld
[gui]
	spellingdictionary = none
