<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<item label="Leafpad">
		<action name="Execute">
			<execute>
				leafpad
			</execute>
		</action>
	</item>
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="KeePassX">
			<action name="Execute">
				<execute>
					/usr/bin/keepassx
				</execute>
			</action>
		</item>
		<item label="Klavaro">
			<action name="Execute">
				<execute>
					/usr/bin/klavaro
				</execute>
			</action>
		</item>
		<item label="Remmina">
			<action name="Execute">
				<execute>
					remmina
				</execute>
			</action>
		</item>
		<item label="SpeedCrunch">
			<action name="Execute">
				<execute>
					/usr/bin/speedcrunch
				</execute>
			</action>
		</item>
		<item label="Virtualbox">
			<action name="Execute">
				<execute>
					/usr/bin/VirtualBox
				</execute>
			</action>
		</item>
		<item label="Zim wiki">
			<action name="Execute">
				<execute>
					/usr/bin/zim
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-editors-menu" label="Editors">
		<item label="Geany">
			<action name="Execute">
				<execute>
					/usr/bin/geany
				</execute>
			</action>
		</item>
		<item label="Leafpad">
			<action name="Execute">
				<execute>
					/usr/bin/leafpad
				</execute>
			</action>
		</item>
		<item label="Meld">
			<action name="Execute">
				<execute>
					/usr/bin/meld
				</execute>
			</action>
		</item>
		<item label="Redcar">
			<action name="Execute">
				<execute>
					/usr/bin/redcar
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-term-menu" label="Terminals">
		<item label="guake">
			<action name="Execute">
				<execute>
					/usr/bin/guake
				</execute>
			</action>
		</item>
		<item label="irb">
			<action name="Execute">
				<execute>
					urxvt -e &quot;irb&quot;
				</execute>
			</action>
		</item>
		<item label="terminator">
			<action name="Execute">
				<execute>/usr/bin/terminator</execute>
			</action>
		</item>
		<item label="urxvt">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="XFCEterminal">
			<action name="Execute">
				<execute>
					terminal
				</execute>
			</action>
		</item>
		<item label="Xterm">
			<action name="Execute">
				<command>
					xterm
				</command>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Transmission">
			<action name="Execute">
				<execute>
					/usr/bin/transmission-gtk
				</execute>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute>
					/usr/bin/chromium
				</execute>
			</action>
		</item>
		<item label="TripleJ">
			<action name="Execute">
				<execute>
					ruby /home/rob/scripts/manualScripts/RunTripleJ_v1.rb
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="Office">
		<item label="Gramps">
			<action name="Execute">
				<execute>
					/usr/bin/gramps
				</execute>
			</action>
		</item>
		<item label="Gnucash">
			<action name="Execute">
				<execute>
					/usr/bin/gnucash
				</execute>
			</action>
		</item>
		<item label="LibreOffice Calc">
			<action name="Execute">
				<execute>/usr/bin/libreoffice --calc</execute>
			</action>
		</item>
		<item label="LibreOffice Writer">
			<action name="Execute">
				<execute>/usr/bin/libreoffice --writer</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="Alsamixer">
			<action name="Execute">
				<execute>
					urxvt -e &quot;alsamixer&quot;
				</execute>
			</action>
		</item>
		<item label="Asunder">
			<action name="Execute">
				<execute>
					/usr/bin/asunder
				</execute>
			</action>
		</item>
		<item label="Audacity">
			<action name="Execute">
				<execute>
					/usr/bin/audacity
				</execute>
			</action>
		</item>
		<item label="Brasero">
			<action name="Execute">
				<execute>
					/usr/bin/brasero
				</execute>
			</action>
		</item>
		<item label="DeVeDe">
			<action name="Execute">
				<execute>
					/usr/bin/devede
				</execute>
			</action>
		</item>
		<item label="Easytag">
			<action name="Execute">
				<execute>
					/usr/bin/easytag
				</execute>
			</action>
		</item>
		<item label="Exaile">
			<action name="Execute">
				<execute>
					/usr/bin/exaile
				</execute>
			</action>
		</item>
		<item label="Handbrake">
			<action name="Execute">
				<execute>
					/usr/bin/ghb
				</execute>
			</action>
		</item>
		<item label="mp3splt">
			<action name="Execute">
				<execute>
					/usr/bin/mp3splt-gtk
				</execute>
			</action>
		</item>
		<item label="python-iview">
			<action name="Execute">
				<execute>
					/usr/bin/python2 /home/rob/PC\ stuff/Software/python-iview/iview-gtk
				</execute>
			</action>
		</item>
		<item label="Rhythmbox">
			<action name="Execute">
				<execute>
					/usr/bin/rhythmbox
				</execute>
			</action>
		</item>
		<item label="Solfege">
			<action name="Execute">
				<execute>
					/usr/bin/solfege
				</execute>
			</action>
		</item>
		<item label="VLC">
			<action name="Execute">
				<execute>
					vlc
				</execute>
			</action>
		</item>
		<item label="xbmc">
			<action name="Execute">
				<execute>
					/usr/bin/xbmc
				</execute>
			</action>
		</item>
		<item label="xfburn">
			<action name="Execute">
				<execute>
					xfburn
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-fileman-menu" label="Games">
		<item label="Aisleriot ">
			<action name="Execute">
				<execute>
					/usr/bin/sol
				</execute>
			</action>
		</item>
		<menu id="apps-fileman-menu-512222" label="Puzzles">
			<item label="BlackBox">
				<action name="Execute">
					<execute>
						/usr/bin/puzzles-blackbox
					</execute>
				</action>
			</item>
			<item label="Bridges">
				<action name="Execute">
					<execute>
						/usr/bin/bridges
					</execute>
				</action>
			</item>
			<item label="Cube">
				<action name="Execute">
					<execute>
						/usr/bin/puzzles-cube
					</execute>
				</action>
			</item>
			<item label="Dominosa">
				<action name="Execute">
					<execute>
						/usr/bin/dominosa
					</execute>
				</action>
			</item>
			<item label="Fifteen">
				<action name="Execute">
					<execute>
						/usr/bin/fifteen
					</execute>
				</action>
			</item>
			<item label="Filling">
				<action name="Execute">
					<execute>
						/usr/bin/filling
					</execute>
				</action>
			</item>
			<item label="Flip">
				<action name="Execute">
					<execute>
						/usr/bin/flip
					</execute>
				</action>
			</item>
			<item label="Galaxies">
				<action name="Execute">
					<execute>
						/usr/bin/galaxies
					</execute>
				</action>
			</item>
			<item label="Guess">
				<action name="Execute">
					<execute>
						/usr/bin/guess
					</execute>
				</action>
			</item>
			<item label="Inertia">
				<action name="Execute">
					<execute>
						/usr/bin/inertia
					</execute>
				</action>
			</item>
			<item label="Keen">
				<action name="Execute">
					<execute>
						/usr/bin/keen
					</execute>
				</action>
			</item>
			<item label="Light Up">
				<action name="Execute">
					<execute>
						/usr/bin/lightup
					</execute>
				</action>
			</item>
			<item label="Loopy">
				<action name="Execute">
					<execute>
						/usr/bin/loopy
					</execute>
				</action>
			</item>
			<item label="Magnets">
				<action name="Execute">
					<execute>
						/usr/bin/magnets
					</execute>
				</action>
			</item>
			<item label="Map">
				<action name="Execute">
					<execute>
						/usr/bin/map
					</execute>
				</action>
			</item>
			<item label="Mines">
				<action name="Execute">
					<execute>
						/usr/bin/mines
					</execute>
				</action>
			</item>
			<item label="Net">
				<action name="Execute">
					<execute>
						/usr/bin/net
					</execute>
				</action>
			</item>
			<item label="Netslide">
				<action name="Execute">
					<execute>
						/usr/bin/netslide
					</execute>
				</action>
			</item>
			<item label="Pattern">
				<action name="Execute">
					<execute>
						/usr/bin/pattern
					</execute>
				</action>
			</item>
			<item label="Pegs">
				<action name="Execute">
					<execute>
						/usr/bin/pegs
					</execute>
				</action>
			</item>
			<item label="(Range)">
				<action name="Execute">
					<execute>
					</execute>
				</action>
			</item>
			<item label="(Rectangles)">
				<action name="Execute">
					<execute>
					</execute>
				</action>
			</item>
			<item label="Same Game">
				<action name="Execute">
					<execute>
						/usr/bin/samegame
					</execute>
				</action>
			</item>
			<item label="Signpost">
				<action name="Execute">
					<execute>
						/usr/bin/signpost
					</execute>
				</action>
			</item>
			<item label="Singles">
				<action name="Execute">
					<execute>
						/usr/bin/singles
					</execute>
				</action>
			</item>
			<item label="Sixteen">
				<action name="Execute">
					<execute>
						/usr/bin/sixteen
					</execute>
				</action>
			</item>
			<item label="Slant">
				<action name="Execute">
					<execute>
						/usr/bin/slant
					</execute>
				</action>
			</item>
			<item label="Solo">
				<action name="Execute">
					<execute>
						/usr/bin/solo
					</execute>
				</action>
			</item>
			<item label="Tents">
				<action name="Execute">
					<execute>
						/usr/bin/tents
					</execute>
				</action>
			</item>
			<item label="Towers">
				<action name="Execute">
					<execute>
						/usr/bin/towers
					</execute>
				</action>
			</item>
			<item label="Twiddle">
				<action name="Execute">
					<execute>
						/usr/bin/twiddle
					</execute>
				</action>
			</item>
			<item label="Unequal">
				<action name="Execute">
					<execute>
						/usr/bin/unequal
					</execute>
				</action>
			</item>
			<item label="Untangle">
				<action name="Execute">
					<execute>
						/usr/bin/untangle
					</execute>
				</action>
			</item>
		</menu>
		<item label="Sauerbraten">
			<action name="Execute">
				<command>
					/usr/bin/sauerbraten-client
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Xonotic">
			<action name="Execute">
				<execute>
					/usr/bin/xonotic-glx
				</execute>
			</action>
		</item>
		<item label="Xmahjongg">
			<action name="Execute">
				<execute>
					/usr/bin/xmahjongg
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="darktable">
			<action name="Execute">
				<execute>/usr/bin/darktable</execute>
			</action>
		</item>
		<item label="digikam">
			<action name="Execute">
				<execute>
					/usr/bin/digikam
				</execute>
			</action>
		</item>
		<item label="ImageMagick">
			<action name="Execute">
				<execute>
					urxvt -e &quot;display&quot;
				</execute>
			</action>
		</item>
		<item label="Hugin">
			<action name="Execute">
				<execute>
					/usr/bin/hugin
				</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<execute>
					/usr/bin/gimp
				</execute>
			</action>
		</item>
		<item label="Mirage">
			<action name="Execute">
				<execute>
					/usr/bin/mirage
				</execute>
			</action>
		</item>
		<item label="Nitrogen">
			<action name="Execute">
				<execute>
					nitrogen
				</execute>
			</action>
		</item>
		<menu id="apps-graphics-menu-74158" label="Screendumps">
			<item label="screendump__kidspc">
				<action name="Execute">
					<execute>
						/usr/bin/ruby /home/rob/scripts/manualScripts/screendumpkidspc.rb
					</execute>
				</action>
			</item>
			<item label="screendump__laptop">
				<action name="Execute">
					<execute>
						/usr/bin/ruby /home/rob/scripts/manualScripts/screendumplaptop.rb
					</execute>
				</action>
			</item>
			<item label="screendump__entireScreen">
				<action name="Execute">
					<execute>
						/usr/bin/ruby /home/rob/scripts/manualScripts/screendump_entire.rb
					</execute>
				</action>
			</item>
			<item label="screendump__select">
				<action name="Execute">
					<execute>
						/usr/bin/ruby /home/rob/scripts/manualScripts/screendump_select.rb
					</execute>
				</action>
			</item>
		</menu>
		<item label="Shotwell">
			<action name="Execute">
				<execute>
					/usr/bin/shotwell
				</execute>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Xarchiver">
			<action name="Execute">
				<execute>
					/usr/bin/xarchiver
				</execute>
			</action>
		</item>
		<item label="Lxappearance">
			<action name="Execute">
				<execute>
					/usr/bin/lxappearance
				</execute>
			</action>
		</item>
		<item label="Tint2 config">
			<action name="Execute">
				<execute>
					tint2conf
				</execute>
			</action>
		</item>
		<item label="Openbox Menu editor">
			<action name="Execute">
				<execute>
					/usr/bin/obmenu
				</execute>
			</action>
		</item>
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>
					obconf
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<menu id="system-menu-86715" label="Configs">
			<item label="dotfile backup">
				<action name="Execute">
					<execute>
						/usr/bin/ruby /home/rob/scripts/Projects/dotfiles/copy_dotfiles.rb
					</execute>
				</action>
			</item>
			<item label="xfce4-notifyd config">
				<action name="Execute">
					<execute>
						/usr/bin/xfce4-notifyd-config
					</execute>
				</action>
			</item>
			<menu id="system-menu-86715-741456" label="Arch">
				<item label="fstab (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/fstab
						</execute>
					</action>
				</item>
				<item label="hosts (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/hosts
						</execute>
					</action>
				</item>
				<item label="hosts.allow (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/hosts.allow
						</execute>
					</action>
				</item>
				<item label="hosts.deny (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/hosts.deny
						</execute>
					</action>
				</item>
				<item label="locale.gen (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/locale.gen
						</execute>
					</action>
				</item>
				<item label="mkinitcpio.conf (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/mkinitcpio.conf
						</execute>
					</action>
				</item>
				<item label="mirrorlist (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/pacman.d/mirrorlist
						</execute>
					</action>
				</item>
				<item label="modprobe.conf (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/modprobe.d/modprobe.conf
						</execute>
					</action>
				</item>
				<item label="pacman.conf (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/pacman.conf
						</execute>
					</action>
				</item>
				<item label="rc.conf (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/rc.conf
						</execute>
					</action>
				</item>
				<item label="resolv.conf (ro)">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/resolv.conf
						</execute>
					</action>
				</item>
				<item label="xinitrc">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.xinitrc
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-931312" label="bash">
				<item label="bashrc">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.bashrc
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-671154" label="conky">
				<item label="conky__bottomleft">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/conky/conky_bottomleft
						</execute>
					</action>
				</item>
				<item label="conky__topleft">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/conky/conky_topleft
						</execute>
					</action>
				</item>
				<item label="conky__topright">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/conky/conky_topright
						</execute>
					</action>
				</item>
				<item label="ConkyStartup.sh">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/conky/scripts/ConkyStartup.sh
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-852325" label="git">
				<item label="git-prompt.sh">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/git/git-prompt.sh
						</execute>
					</action>
				</item>
				<item label="gitconfig">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.gitconfig
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-9727" label="openbox">
				<item label="rc.xml">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/openbox/rc.xml
						</execute>
					</action>
				</item>
				<item label="autostart.sh">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/openbox/autostart.sh
						</execute>
					</action>
				</item>
				<item label="menu.xml">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/openbox/menu.xml
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-90280" label="slim">
				<item label="slim.conf">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/slim.conf
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-252416" label="terminal (urxvt)">
				<item label="helpers.rc">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/xfce4/helpers.rc
						</execute>
					</action>
				</item>
				<item label="Xdefaults">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.Xdefaults
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-85292" label="testing">
				<item label="autotest">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.autotest
						</execute>
					</action>
				</item>
				<item label="rspec">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.rspec
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-602528" label="tint2">
				<item label="tint2rc">
					<action name="Execute">
						<execute>
							/usr/bin/geany /home/rob/.config/tint2/tint2rc
						</execute>
					</action>
				</item>
			</menu>
			<menu id="system-menu-86715-412711" label="xorg">
				<item label="xorg.conf">
					<action name="Execute">
						<execute>
							/usr/bin/geany /etc/X11/xorg.conf
						</execute>
					</action>
				</item>
			</menu>
		</menu>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="motion">
			<action name="Execute">
				<execute>
					urxvt -e &quot;/home/rob/scripts/manualScripts/run_motion.sh&quot;
				</execute>
			</action>
		</item>
		<item label="chrome">
			<action name="Execute">
				<execute>
					/usr/bin/chromium
				</execute>
			</action>
		</item>
		<item label="firefox">
			<action name="Execute">
				<execute>
					/usr/bin/firefox
				</execute>
			</action>
		</item>
		<item label="guake">
			<action name="Execute">
				<execute>
					/usr/bin/guake
				</execute>
			</action>
		</item>
		<item label="leafpad">
			<action name="Execute">
				<execute>
					leafpad
				</execute>
			</action>
		</item>
		<item label="thunar">
			<action name="Execute">
				<execute>
					thunar
				</execute>
			</action>
		</item>
		<item label="urxvt">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="vim">
			<action name="Execute">
				<execute>
					urxvt -e &quot;vim&quot;
				</execute>
			</action>
		</item>
		<item label="vlc">
			<action name="Execute">
				<execute>
					/usr/bin/vlc
				</execute>
			</action>
		</item>
		<separator label="Applications"/>
		<menu id="apps-accessories-menu"/>
		<menu id="apps-editors-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-term-menu"/>
		<menu id="apps-fileman-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>
					yes
				</prompt>
			</action>
		</item>
		<item label="Lock">
			<action name="Execute">
				<execute>
            xscreensaver-command --lock
				</execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>
            sudo shutdown -r now
				</execute>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<execute>
            sudo shutdown -h now
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
